*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  height: 100vh;
}

#root {
  height: 100%;
}

/* NAVIGATION BAR */
nav .brand-logo {
  font-size: 3rem;
  letter-spacing: 2px;
  font-family: 'Boogaloo', cursive;
}
@media (max-width: 470px) {
  nav .brand-logo {
    font-size: 1.7rem;
  }
}
.nav-wrapper a:not(.brand-logo) {
  font-size: 1.1rem;
}
a.active:not(.brand-logo) {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link {
  display: flex;
  align-items: center;
}
.nav-link i {
  margin-right: 7px;
}

.sidenav {
  padding-top: 2rem;
}
.sidenav .nav-link {
  padding-left: 4rem;
  margin-top: 1rem;
  font-size: 2rem;
  color: #666;
}
.sidenav li > a > i.material-icons {
  margin-right: 7px;
}

/* MAIN APP PAGE */
.App {
  min-height: calc(100% - 64px);
}

.titles {
  max-width: 80%;
  margin: 0 auto;
}
.App h1 {
  font-family: 'Merriweather', serif;
  font-size: calc(3.6vw + 1rem);
}

.title-top,
.title-bottom {
  display: flex;
  align-items: center;
}
.title-top span,
.title-bottom span {
  text-transform: uppercase;
  margin-left: 0.2em;
  font-weight: bold;
  font-size: calc(4vw + 1rem);
}
.title-bottom {
  justify-content: flex-end;
  margin-top: -1rem;
}

/* RECIPE CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 2em;
  grid-auto-rows: 260px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.1) !important;
}
.card:hover {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}

.card-image {
  height: 70%;
  max-height: 70%;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.card-category {
  font-family: 'Boogaloo', cursive;
  letter-spacing: 1.3px;
  font-size: 1rem;
  margin: 1rem;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  width: 65px;
  height: 65px;
  clip-path: circle();
  color: #fff;
  overflow-wrap: break-word;
}

.card-text {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  text-transform: uppercase;
  font-size: calc(0.3vw + 1.2rem);
  font-weight: 300;
}

/* SEARCH -- SIGN-IN -- SIGN-UP -- ADD-RECIPE */
.Search,
.SignIn,
.SignUp,
.AddRecipe {
  margin: 2rem auto 2rem;
  width: 90%;
  max-width: 600px;
}
.Search h2,
.SignIn h2,
.SignUp h2,
.AddRecipe h2 {
  margin-bottom: 3rem;
}

.Search button,
.SignIn button,
.SignUp button {
  margin-left: 45px;
}

.AddRecipe button {
  margin-top: 2rem;
}

.search-item {
  display: grid;
  align-items: center;
  grid-template-columns: 80px 1fr 80px;
  padding: 0.8rem 1.5rem;
  margin: 0.5rem 0;
  box-shadow: 0 5px 15px -4px rgba(0, 0, 0, 0.1) !important;
  transition: box-shadow 250ms;
}
.search-item:hover {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 5px 5px -3px rgba(0, 0, 0, 0.2) !important;
}

.search-item img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  object-position: center top;
  clip-path: circle();
}
.search-item__title {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 300;
  margin-left: 1rem;
  overflow: hidden;
}
.search-item__likes {
  width: 80px;
  min-width: 80px;
  font-size: 1rem;
}

@media (max-width: 399px) {
  .search-item {
    grid-template-columns: 1fr 80px;
  }
  .search-item img {
    display: none;
  }
  .search-item__title {
    margin-left: 0;
  }
}

input {
  color: #9e9e9e;
}

/* RECIPE PAGE */
.RecipePage {
  margin: 3rem auto 2rem;
  width: 90%;
  max-width: 800px;
}

.RecipePage .header {
  display: grid;
  grid-template-columns: 70% 1fr;
  position: relative;
}

.RecipePage .header__image-container {
  width: 100%;
  padding-top: 80%;
  position: relative;
}
.RecipePage .header__image-container img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
  border-radius: 8px;
  transform-origin: center center;
  transform: scale(0.99);
}
.RecipePage .header__image-gradient {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 50%, white 85%);
}

.RecipePage .header__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr 1fr;
}
.RecipePage .header__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
  font-size: 1.5rem;
}
.RecipePage .header__info > * {
  margin-top: 1em;
}
.RecipePage .header__category {
  display: inline-block;
  padding: 0.7rem 2rem;
  border-radius: 100px;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 1.3px;
  color: #fff;
  font-size: calc(1.3vw + 1.2rem);
}
.RecipePage .header__title {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: calc(2.5vw + 3rem);
  font-weight: 300;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.RecipePage .recipe-description {
  font-size: 2rem;
  font-family: 'Boogaloo', cursive;
  letter-spacing: 1.3px;
  color: #666;
  border-color: #a5d6a7;
}

.RecipePage .recipe {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.RecipePage .recipe-instructions__title {
  font-weight: 300;
}
.RecipePage .recipe-instructions {
  font-size: 1.5rem;
}

@media (max-width: 649px) {
  .RecipePage .header {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .RecipePage .header__details {
    grid-row: 1 / 2;
  }
  .RecipePage .header__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    font-size: 1.5rem;
  }
  .RecipePage .header__info > * {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  .RecipePage .header__info > div:not(:first-child) {
    padding-left: 1rem;
  }
  .RecipePage .header__title {
    font-size: calc(5vw + 1rem);
  }
}

/* SPINNER */
.spinner {
  text-align: center;
  padding: 5em;
}
